* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
}

#background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 64px;
    user-select: none;
}

.header>* {
    display: flex;
    flex-direction: row;
    gap: 64px;
}

.menu-button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    color: black;
    text-decoration: none;
}

.menu-button:hover, .menu-button:focus {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 0px 64px;
    flex: 1;
    justify-content: center;
}

.content>* {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greetings {
    width: 640px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.greetings .heading {
    font-size: 3em;
    font-weight: 500;
}

.greetings .text {
    text-align: justify;
}

.greetings .action {
    display: flex;
    justify-content: end;
}

.greetings .action button {
    background: transparent;
    color: black;
    outline: none;
    padding: 16px 32px;
    height: 64px;
    border-radius: 32px;
    font-size: 1.5em;
    border: 1px solid black;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greetings .action button:hover, .greetings .action button:focus {
    background: black;
    color: white;
}

.hero-image>img {
    width: 640px;
    height: 640px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 0px 32px rgba(122, 122, 122, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.paper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 64px;
    background: white;
    border-radius: 32px;
    max-width: 1200px;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
}

.paper h1 {
    font-size: 2em;
    font-weight: 500;
}

.paper section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.paper ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.paper ul li {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 1.25em;
}

.paper ul li .year {
    flex: 0 0 128px;
    height: 100%;

}

.paper .cv-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: justify;
}

.paper .primaty {
    font-size: 1em;
    font-weight: 400;
}

.paper .secondary {
    font-size: 0.75em;
    font-weight: 300;
}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.error-icon {
    width: 320px;
    height: 320px;
}

.error-text {
    font-size: 1.5em;
}